
body {
    background-color: #ed9135;
    color: rgb(255, 255, 255);

    margin: 0;
    height: 100vh; /* prend toute la hauteur de la page */
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;
    font-family: 'Gabarito', sans-serif;
    font-size: 40px;

  }




  .container {
    display: inline-block;
    
    justify-content: center;
    text-align: center;

    
    /*display: inline-block;*/
    /*background: #fff;*/
    /*padding: 20px;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 8px;*/
  }


  .seed {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 18px;
  }

  .seed2 {
    /*display: inline-block;*/
    /*background: #fff;*/
    /*padding: 20px;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 8px;*/

    
    background-color: #ffffff00;
    background: transparent;
    color: rgb(255, 255, 255);

    border: 3px solid rgb(255, 255, 255);       /* bordure noire */
    


    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
    border-radius: 8px;

    align-items: center;       /* alignement vertical */
    justify-content: center;
  }



  
button {
    background-color: #ffffff00;
    color: rgb(255, 255, 255);

    border: 3px solid rgb(255, 255, 255);       /* bordure noire */
    


    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
    border-radius: 8px;


    /*
    border-color: red;

    
    color: rgb(159, 27, 27);

    
    display: flex;
    justify-content: center;*/
    /*gap: 15px;*/
  }



.seednumberclass {
  background-color: #ff000000;
  color: rgb(255, 255, 255);
  border: 0px solid rgba(255, 255, 255, 0); 
  text-align: center;
  align-items: center;       /* alignement vertical */
  justify-content: center;
  font-family: 'Gabarito', sans-serif;
  font-size: 15px;






  

  }



/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




input[type=number] {
  border: none;       
  outline: none;      
}